* {
    padding: 0;
    margin: 0;
}

.loading {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1.0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
}

.loading img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.top {
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    color: #555;
}

.profile {
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    color: #555;
}

.studyabroad {
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    background-image: url(/img/NEWZEALAND_MAP.png);
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    color: #555;
}


.item1 {
    box-shadow: 3px 3px 20px rgba(18, 42, 136, 0.29);
    width: 25%;
    height: 30%;
    /* background-color: #ffffff; */
    background-color: #f7f7f7;
    position: absolute;
    padding: 8px;
    border-radius: 4px;
    left: 70px;
    top: 1680px;
    display: flex;
    color: #555;
}

.item1_photo {
    width: 50%;
    height: 30vh;
    background-image: url(img/Rutherford%20College.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

.item1_sentense {
    padding-left: 20px;
    font-family: 'Lora', serif;
    background-color: #f7f7f7;
    width: 50%;
    height: 30vh;
}

.item1_sentense h1 {
    font-family: 'Lora', serif;
    color: #555;
    font-size: 15px;
}

.item2 {
    box-shadow: 3px 3px 20px rgba(189, 42, 0, 0.29);
    width: 25%;
    height: 30%;
    /* background-color: #ffffff; */
    background-color: #f7f7f7;
    position: absolute;
    padding: 8px;
    border-radius: 4px;
    left: 950px;
    top: 1990px;
    display: flex;
}

.item2_sentense {
    width: 50%;
    height: 30vh;
    background-color: #f7f7f7;
    color: #555;
}

.item2_sentense h1 {
    font-family: 'Lora', serif;
    font-size: 15px;
    color: #555;
}

.item2_photo {
    width: 50%;
    height: 30vh;
    background-image: url(img/Wellington-High-School_image.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

.worldmap {
    width: 20.8%;
    height: 26%;
    color: #000;
    position: absolute;
    left: 1030px;
    top: 1600px;
}

.photo_gallery {
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
}

.photo_gallery h1 {
    font-size: 27px;
    padding-left: 70px;
    padding-top: 40px;
    color: #555;
}

.profile_sentense h1 {
    font-family: 'Lora', serif;
    font-size: 27px;
    padding-left: 70px;
    padding-top: 40px;
    color: #555;
    letter-spacing: 2px;
}

.studyabroad_sentense h1 {
    font-family: 'Lora', serif;
    font-size: 27px;
    padding-left: 70px;
    padding-top: 40px;
    color: #555;
    letter-spacing: 2px;
}

.photogallery_sentense h1 {
    width: 20%;
    height: 100vh;
    font-family: 'Lora', serif;
    font-size: 27px;
    padding-left: 70px;
    padding-top: 40px;
    color: #555;
    letter-spacing: 2px;
}

.activities_sentense h1 {
    width: 20%;
    height: 100vh;
    font-family: 'Lora', serif;
    font-size: 27px;
    padding-left: 70px;
    padding-top: 40px;
    color: #555;
    letter-spacing: 2px;
}

.blog_bigsentense h1 {
    width: 20%;
    height: 60vh;
    font-family: 'Lora', serif;
    font-size: 27px;
    padding-left: 70px;
    padding-top: 40px;
    color: #555;
    letter-spacing: 2px;
}

.event1 {
    background-image: url(img/sample7.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 51vh;
    margin-top: 100px;
}

.event1 .caption1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    width: 23vw;
    height: 51vh;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.event1 :hover.caption1 {
    opacity: 1;
}

.caption1 h1 {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.caption1 p {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.event2 {
    background-image: url(img/sample9.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 35vh;
    margin-top: 100px;
    margin-left: 20px;
}

.event2 .caption2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    width: 23vw;
    height: 35vh;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.event2 :hover.caption2 {
    opacity: 1;
}

.caption2 h1 {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.caption2 p {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.event3 {
    background-image: url(img/sample9.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 35vh;
    margin-top: 100px;
    margin-left: 20px;
}

.event3 .caption3 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    width: 23vw;
    height: 35vh;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.event3 :hover.caption3 {
    opacity: 1;
}

.caption3 h1 {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.caption3 p {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.event2_3 {}

.event4 {
    background-image: url(img/sample12.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 24vh;
    margin-top: 20px;
}

.event4 .caption4 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    width: 23vw;
    height: 24vh;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.event4 :hover.caption4 {
    opacity: 1;
}

.caption4 h1 {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.caption4 p {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.event5 {
    background-image: url(img/sample8.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 40vh;
    margin-left: 20px;
    margin-top: 20px;
}

.event5 .caption5 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    width: 23vw;
    height: 40vh;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.event5 :hover.caption5 {
    opacity: 1;
}

.caption5 h1 {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.caption5 p {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.event6 {
    background-image: url(img/sample8.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 40vh;
    margin-left: 20px;
    margin-top: 20px;
}

.event6 .caption6 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.63);
    width: 23vw;
    height: 40vh;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}

.event6 :hover.caption6 {
    opacity: 1;
}

.caption6 h1 {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.caption6 p {
    font-family: 'Noto Serif JP', serif;
    color: #f7f7f7;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
}

.activities {
    width: 100vw;
    height: 55vh;
    background-color: #f7f7f7;
    display: flex;
    letter-spacing: 2px;
}

.activities h1 {
    font-size: 27px;
    padding-left: 70px;
    padding-top: 40px;
}

.activities_sentense1 h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 15px;
    color: #555;
    padding: 0;
    margin: 0;
}

.activities_sentense2 h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 15px;
    color: #555;
    padding: 0;
    margin: 0;
}

.activities_sentense3 h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 15px;
    color: #555;
    padding: 0;
    margin: 0;
}

.activities_photo1 {
    background-image: url(img/sample13.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 30vh;
    margin-top: 140px;
    margin-left: 40px;
}

.activities_sentense1 {
    /*    background-color: #d3d3d3;*/
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 5vh;
    margin-top: 10px;
    margin-left: 40px;
}

.activities_photo2 {
    background-image: url(img/ryu-jin1.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 30vh;
    margin-top: 140px;
    margin-left: 20px;
}

.activities_sentense2 {
    /*    background-color: #d3d3d3;*/
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 5vh;
    margin-top: 10px;
    margin-left: 20px;
}

.activities_photo3 {
    background-image: url(img/sample10.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 30vh;
    margin-top: 140px;
    margin-left: 20px;
}

.activities_sentense3 {
    /*    background-color: #d3d3d3;*/
    -webkit-background-size: cover;
    background-size: cover;
    width: 23vw;
    height: 5vh;
    margin-top: 10px;
    margin-left: 20px;
}

.blog {
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
}

.sidebar {
    /*    flex: 0 1 30%;*/
    width: 30%;
    background-color: #f7f7f7;
}

.aikon {
    background-image: url(/img/aikon.png);
    -webkit-background-size: cover;
    background-size: cover;
    /*    background-color: #000;*/
    width: 10%;
    height: 11%;
    position: absolute;
    padding: 50px;
    left: 70px;
    top: 220px;
    display: flex;
}

.sidebar ul {
    font-family: 'Lora', serif;
    font-size: 16px;
    list-style: none;
    padding-top: 380px;
    padding-left: 70px;
    line-height: 50px;
    letter-spacing: 2px;
}

.underline {
    display: inline;
    position: relative;
    top: 10px;
    color: #555;
    text-decoration: none;
}

.underline:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.5px;
    width: 100%;
    height: 2px;
    background: #555;
    transform: scale(0, 1);
    transform-origin: left;
    transition: 0.3s;
}

.underline:hover:before {
    transform: scale(1);
}

.photo_slideshow {
    width: 70%;
    margin: 70px 0px;
}

.slideshow {
    overflow: hidden;
    position: relative;
    min-width: 906px;
    height: 626px;
}

.slideshow img {
    -webkit-background-size: cover;
    background-size: cover;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -504px;
}

.profile_sentense {
    font-family: 'Tajawal', sans-serif;
    /*    flex: 0 1 50%;*/
    width: 50%;
    background-color: #f7f7f7;
    color: #555;
}

.profile_sentense h2 {
    font-family: 'Lora', serif;
    font-size: 35px;
    padding-left: 100px;
    padding-top: 70px;
    color: #555;
}

.profile_sentense p {
    font-family: 'Lora', serif;
    font-size: 17px;
    padding-left: 100px;
    padding-top: 70px;
    line-height: 45px;
    color: #555;
}

.under {
    border-bottom: solid;
    border-color: #555;
    border-width: 1.5px;
    margin-top: 2px;
}

.profile_photobox {
    /*    flex: 0 1 50%;*/
    width: 50%;
    background-color: #f7f7f7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_photo {
    width: 75%;
    height: 80%;
    background-image: url(img/sample3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

.blog {
    background-color: #f7f7f7;
    height: 50vh;
    width: 100vw;
    display: flex;
    letter-spacing: 2px;
}

.contact {
    background-color: #f7f7f7;
    height: 33vh;
    width: 100vw;
    display: flex;
}

/*
.blog h1 {
    font-family: 'Lora', serif;
    font-size: 27px;
    padding-left: 70px;
    padding-top: 40px;
}
*/

.blog_photo {
    width: 23vw;
    height: 30vh;
    margin-top: 120px;
    margin-left: 110px;
    /*    background-color: #f7f7f7;*/
    background-image: url(img/sample10.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

.blog_sentense {
    width: 47vw;
    height: 30vh;
    background-color: #efefef;
    margin-left: 20px;
    margin-top: 120px;
}

.blog_sentense h1 {
    font-family: 'Lora', serif;
    color: #555;
    font-size: 20px;
    margin-top: 45px;
    margin-left: 30px;
}

.blog_sentense p {
    font-family: 'Lora', serif;
    color: #555;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 30px;
}

.blog_viewmore {
    font-family: 'Lora', serif;
    background-color: #f7f7f7;
    color: #555;
    width: 100%;
    height: 8vh;
    text-align: center;
    padding-top: 25px;
}


.blog_viewmore a {
    font-family: 'Lora', serif;
    color: #555;
    font-size: 20px;
}

.contact1 {
    background-color: #e3e3e3;
    width: 50vw;
    height: 33vh;
}

.contact1 ul {
    font-family: 'Lora', serif;
    font-size: 15px;
    list-style: none;
    display: inline-block;
    line-height: 30px;
    color: #555;
    margin-left: 90px;
    padding-left: 90px;
}

.contactaikon {
    background-image: url(/img/aikon.png);
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 30px;
    margin-left: 40px;
    width: 20vw;
    height: 23vh;
    display: inline-block;
}

.contact1 a {
    font-family: 'Tajawal', sans-serif;
    display: inline-block;
    position: relative;
    color: #555;
    text-decoration: none;
}

.SNS {
    background-color: #ededed;
    width: 50vw;
    height: 33vh;
}

.SNS h1 {
    font-family: 'Lora', serif;
    width: 10vw;
    height: 3vh;
    background-color: #ededed;
    font-size: 27px;
    padding-left: 70px;
    padding-top: 40px;
    color: #555;
    letter-spacing: 2px;

}

.link {
    margin-top: 30px;
    margin-left: 40px;
}

.link img {
    width: 40px;
    height: 40px;
    margin: 45px;

}

footer {
    background-color: #f7f7f7;
    width: 100vw;
    height: 2vh;
}

footer p {
    font-family: 'Lora', serif;
    color: #555;
    text-align: center;
    font-size: 15px;
}
